@page "/"

<h1>Lox!</h1>
<button class="btn btn-primary" @onclick="Run">Run</button>

@if (Tests != null)
{
    <select @onchange="OnFolderSelected">
        <option value="">Select a folder...</option>
        @foreach (var folder in Tests.Keys)
        {
            <option value="@folder">@folder</option>
        }
    </select>

    <select value="@SelectedTest" @onchange="OnTestSelected">
        <option value="">Select a test...</option>
        @if (!string.IsNullOrEmpty(SelectedFolder))
        {
            @foreach (var test in Tests[SelectedFolder])
            {
                <option value="@test">@test</option>
            }
        }
    </select>
}

<textarea rows="20" style="width: 100%" @bind="Source" @bind:event="oninput"></textarea>
    <div>
        @if (Output != null)
        {
            @foreach (var line in Output)
            {
                @line
                <br />
            }
        }
    </div>
