@page "/"

<h1>Lox!</h1>
<button class="btn btn-primary" @onclick="Run">Run</button>

@if (Tests != null)
{
    <select @onchange="OnCategorySelected">
        <option value="">Select a category...</option>
        @foreach (var category in Tests.Keys)
        {
            <option value="@category">@category</option>
        }
    </select>

    <select value="@SelectedTest" @onchange="OnTestSelected">
        <option value="">Select a test...</option>
        @if (!string.IsNullOrEmpty(SelectedCategory))
        {
            @foreach (var test in Tests[SelectedCategory])
            {
                <option value="@test">@test</option>
            }
        }
    </select>
}

<textarea rows="20" style="width: 100%" @bind="Source" @bind:event="oninput"></textarea>
    <div>
        @if (Output != null)
        {
            @foreach (var line in Output)
            {
                @line
                <br />
            }
        }
    </div>
